body{
    background-color: white;
    font-family: Roboto, arial, sans-serif;
    width: 768px;
    height: 100%;
    font-size: 12px;
    font-weight: 400;
    border: 0 50px;
}

nav{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 15px;
}

li{
    float: left;
    padding-right: 20px;
}

ul{
    list-style-type: none;
    margin-top: 30px;
}

a,label{
    text-decoration: none;
    color: rgb(59, 59, 59);
}

input{
    background-color:rgb(243, 241, 241);
    border-style: solid;
    border: none;
    font-size: 10px;
    padding: 12px 370px 12px 20px;
    border-radius: 50px;
}

#icon{
    margin-top: 45px;
}

#icon label{
    position: relative;
    top: 20px;
    right: 50px;
}

main,footer{
    position: relative;
    top: 150px;
    left: 450px;
}

h1{
    position: relative;
    left: 100px;
}

button{
    position: absolute;
    top: 150px;
    left: 760px;
    border: none;
    border-style: outset;
    background-color: white;
    color: royalblue;
    border-radius: 50px;
    width: 130px;
    height: 35px;
    box-shadow: 50px;
}

button img{
    padding-right: 10px;
}